
<div id="countryTable"></div>

@section scripts{

    <script>
        /// <reference path="jtable/jquery.jtable.js" />
        $(function () {

            $('#countryTable').jtable({
                title: 'countries',

                actions: {
                    listAction: '/Country/getData',
                    createAction: '/Country/Create',
                    updateAction: '/Country/Edit',
                    deleteAction: '/Country/Delete'
                },
                fields: {
                    id: {
                        key: true,
                        list: false
                    },
                    name: {
                        title: 'Name',
                        width: '45%'
                    }
                }
            });
            $('#countryTable').jtable('load');
        });

    </script>
}
