@model continent.Models.area
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.DropDownList("CO_id")
    @Html.DropDownList("CI_id")
    @Html.TextBoxFor(m => m.name)
    <button type="submit">Submit</button>
}


<script>

    $(function () {
        $("#CO_id").change(function () {
            $.ajax({
                url: "getCities/?CID=" + $(this).find(':selected').val(),
                dataType:"JSON",
                method:"GET",
                success: function (data) {
                    $('#CI_id').empty();
                    $(data).map(function () {
                        $('#CI_id').append("<option value='" + this.Value + "' >" + this.Text + "</option>");
                    });
                },
                error: function (res) { alert("error\n" + JSON.stringify(res)); }
            });
        });
    });

</script>
