
<div id="areaTable"></div>

@section scripts{

    <script>
        $(function () {

            $('#areaTable').jtable({

                title: 'Area Table',

                actions: {
                    listAction: '/Area/getData',
                    createAction: '/Area/Create',
                    updateAction: '/Area/Edit',
                    deleteAction: '/Area/Delete',
                },

                fields: {
                    CO_id: {
                        title: 'Country Name',
                        options: '/Area/getCountriesOptions',
                        list:false
                    },
                    CI_id: {
                        title: 'City Name',
                        dependsOn:'CO_id',
                        //options: '/Area/getCitiesOptions',
                        options: function (data) {
                            if (data.source == 'list') {
                                return '/Area/getCitiesOptions?CO_id=0';
                            }
                            return '/Area/getCitiesOptions?CO_id=' + data.dependedValues.CO_id;
                        }
                    },
                    id: {
                        key: true,
                        list: false
                    },
                    name: {
                        title: 'Name',
                        width: '45%'
                    }
                }

            });
            $('#areaTable').jtable('load');
        });
    </script>
}
