@model continent.Models.city
@{
    ViewBag.Title = "Create";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit"))
{
    @Html.DropDownListFor(m => m.CO_id,null)
    @Html.TextBoxFor(m => m.name)
    <button type="submit">Submit</button>
}
